h1{
    color:red;
    text-align: center;
}

body {
    background-color: #faebd7;
    align-self: center;

}


  #addItemButton{
    padding: 30;
    background-color:lavender;
    border-radius: 30;
    margin: 20;
    margin-top: 30;
  }